<!DOCTYPE html>
<html>
<head>
  <title>Spots</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style>
    .map {
      height: 400px;
      width: 100%;
    }
  </style>
</head>
<body>

  <%= yield %>

</body>
</html>
